<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="vue.js"></script>
</head>
<body>
<div id="root">
    <h1>{{name}}</h1>
    <h1>{{age}}</h1>
    <h1>{{people.name}}</h1>
    <button @Click="sleep()">sj</button>
    <button @Click="eat">cf</button>
    <div v-show="false">66666666666666666666666666666666666</div>
    <div v-show="showtrue">77777777777777777777777777777777777</div>
    <div v-if="iftrue">ififiififififiififififiifififififiifififi</div>
    <button @click="showOrNotShow">showOrNotShow</button>
</div>


<div id="root2">
    <h1>循环</h1>
    <ul>
        <li v-for="(item,i) in list">{{item}}++++{{i}}</li>
    </ul>
    <h1>绑定</h1>
    <input type="text" :value="text1"><br>
    <button @click="changeText">切换文字</button><br>
    <input type="text" v-model.lazy="msg">
    <h1>输入框中的值：{{msg}}</h1>

    <h1>v-for</h1>
    <ul>
        <li v-for="(item, index) in vegetables" :key="item.id">{{item.name}}</li>
    </ul>
</div>
</body>
<script>
    new Vue({
        el:"#root2",
        data:{
            list:[123,1234,12345],
            text1:"bind绑定",
            msg:"model绑定的msg",
            vegetables:[{id:1, name:"zzz"},{id:1, name:"yyy"},{id:2, name:"ppp"},{id:3, name:"ooo"},{id:4, name:"iii"},{id:5, name:"aaa"},{id:6, name:"ttt"}]
        },
        methods: {
            changeText(){
                if(this.text1==="bind绑定"){
                    this.text1="切换了文字信息"
                }else{
                    this.text1="bind绑定"
                }
            }
        }
    })
    new Vue({
      el:"#root",
      data:{
          iftrue:true,
          showtrue:true,
          name:"zhangsan",
          age:88,
          people:{
              name: "wb",
              age:888
          }
      },
      methods:{
          sleep(){
              console.log("sleep")
          },
          eat:function (){
              alert("eat")
          },
          showOrNotShow:function (){
              return this.iftrue=!this.iftrue;
          }
      }
    })
</script>
</html>