<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="vue.js"></script>
</head>
<body>
<div id="root">
    <h1>{{name}}</h1>
    <h1>{{age}}</h1>
    <h1>{{people.name}}</h1>
    <button @Click="sleep()">sj</button>
    <button @Click="eat">cf</button>
    <div v-show="false">66666666666666666666666666666666666</div>
    <div v-show="showtrue">77777777777777777777777777777777777</div>
    <div v-if="iftrue">ififiififififiififififiifififififiifififi</div>
    <button @click="showOrNotShow">showOrNotShow</button>
</div>


<div id="root2">
    <h1>循环</h1>
    <ul>
        <li v-for="(item,i) in list">{{item}}++++{{i}}</li>
    </ul>
    <h1>绑定</h1>
    <input type="text" :value="text1"><br>
    <input type="text" v-model="msg">
    <h1>{{msg}}</h1>
</div>
</body>
<script>
    new Vue({
        el:"#root2",
        data:{
            list:[123,1234,12345],
            text1:"bind绑定",
            msg:"model绑定的msg"
        }
    })
    new Vue({
      el:"#root",
      data:{
          iftrue:true,
          showtrue:true,
          name:"zhangsan",
          age:88,
          people:{
              name: "wb",
              age:888
          }
      },
      methods:{
          sleep(){
              console.log("sleep")
          },
          eat:function (){
              alert("eat")
          },
          showOrNotShow:function (){
              return this.iftrue=!this.iftrue;
          }
      }
    })
</script>
</html>